h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
}
h1 {
    font-weight: bold;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.btn-primary{
    background-color: #fdd20b;
    color: #542f65;
    border-radius: 48px;
    height: 64px;
    display: flex;
    align-items: center;
    text-align: justify;
    width: fit-content;
    font-weight: bold;
    border: none;
}
@media screen and (max-width:600px) {
    .btn-primary{
        height:32px;
        min-width: 80px;
        font-size: 12px;
    }
}
@media screen and (max-width:600px) {
    #ul{
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    .logo{
        max-width:128px;
        padding-left: 0;
    }
}
.btn-primary:hover {
    background-color: #ef08b4;
}

/*MAIN NAV BAR*/
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
}
@media screen and (max-width:600px) {
    .navBar {
    justify-content: baseline;
    }
    
}
.navBar div{
    display: flex;
    align-items: center;
}
.navBar ul {
    padding-left: 32px;
}
.navBar .nav-link {
    color: #fdd20b;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
a:hover {
    color: #ef08b4;
}
.navBar .nav-link:hover {
    border-bottom: 2px solid #fdd20b;
    border-bottom-width: fit-content; 
}
#aboutHero {
    /* padding-top: ; */
}

/*HOME PAGE HERO*/
#heroHeader{
    height: 60em;
    background-image: url(../images/Homepage_Crop_Square.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff6cc;
    margin: 0 auto;
}
.jumbotronContent{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 256px;
    
}
.jumbotronContent h1{
    padding-bottom: 16px;
    padding-top: 0px;
}

#aboutHero {
    margin: 0 auto;
}

/*HOME PAGE CONTENT*/
#cabaretDef{
    background-color: #fdd20b;
    color: #542f65;
    margin: 0 auto;
}
#showGenres {
    background-color: #542f65;
    color: #fdd20b;
    margin: 0 auto;
    padding: 32px;
}
#showGenres h2 {
    color:#fff6cc;
}
#genres2 {
    padding-top: 16px;
}
.genre{
    height: 400px;
}
.genreContent img{
    padding: 10px;
}

/*FOOD & DRINK*/
#nibblesLibations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/BarDrinks_Crop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff6cc;
    margin: 0 auto;
    height: 24em;
}
.nibblesLibationsContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*ABOUT US HERO*/
#aboutHero {
    height: 55em;
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.15)), url(../images/AboutUsHero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff6cc;
    margin: 0 auto;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    padding: 64px;
    background-color: #542f65;
}
@media screen and (max-width:600px) {
    .aboutContainer{
        flex-direction: column;
    }
    
}
.aboutContainer img{
    float: left;
    max-height: 775px;
    padding-right: 32px;
}
@media screen and (max-width:600px) {
    .aboutContainer img{
        max-width: 400px;
        padding-right: 10px
    }
    
}
.aboutContainer p {
    color: #fdd20b;
    padding-left: 32px;
}
.aboutContainer h1{
    color:#fff6cc;
    padding-left: 32px;
    padding-bottom: 16px;
}
@media screen and (max-width:600px) {
    .aboutContainer h1{
        font-size: 40px;
    }
    
}
/*CONTACT US SECTION*/
#contactUs {
    margin: 0 auto;
    background-color: #542f65;
    color: #fdd20b;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactUs h1 {
    display: flex;
    justify-content: center;
    color: #fff6cc;
    padding-bottom: 32px;
}
.email {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #fdd20b;
    text-decoration: underline;  
}
.email:hover {
    color: #ef08b4;
    font-weight: bolder;
}
.contactGrid {
    background-color: #542f65;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
    grid-template-areas: 
    "contactImg1 contact1"
    "contactImg2 contact2"
    "contactImg3 contact3"
    ;
}
@media screen and (max-width:600px) {
    .contactGrid {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "contactImg1"
        "contact1"
        "contactImg2" 
        "contact2"
        "contactImg3" 
        "contact3"
        ;

    }
    
}
#contactImg1 {
    grid-area: contactImg1;
    height: max-content;
}
#contact1 {
    grid-area: contact1;
}
#contactImg2{
    grid-area: contactImg2;
    height: max-content;
}
#contact2{
    grid-area: contact2;
}
#contactImg3 {
    grid-area: contactImg3;
    height: max-content;
}

/*SUBSCRIBE SECTION*/
.subscribeContainer {
    display: flex;
    justify-content: center;
    padding: 64px;
    background-color: #542f65;
}
.subscribeContainer img{
    float: left;
    max-height: 400px;
    padding-right: 64px;
}
.subscribeContainer h1 {
    color:#fff6cc;
    padding-bottom: 16px;
}
.subscribeContainer p {
    color: #fdd20b;
    padding-bottom: 16px;
}
.subscribe {
    width: 75%;
}
@media screen and (max-width:600px){
    .subscribe {
        width: 100%;
    }
}
.subscribeContainer .lead {
    padding-top: 16px;
}

@media screen and (max-width:600px){
    .subscribeContainer {
        flex-direction: column;
    }
}

/*FOOTER*/
footer {
    background-color: #fdd20b;
    color: #542f65;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;    
}
@media screen and (max-width:600px){
    footer {
        justify-content: center;
        width: 100%;
        padding-top: 20px;
        padding: 2px;
    }
}
#footerContent {
    padding-top: 16px;
    padding-bottom: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media screen and (max-width:600px){
    #footerContent {
        padding-top: 20px;
    }
}
@media screen and (max-width:600px){
    #footerContent #socailMedia {
        padding-top: 20px;
    }
}
@media screen and (max-width:600px){
    #footerContent h1 {
        width: 100%;
        font-size: 18px;
        overflow:visible;
        padding-top: 10px;
    }
}
footer .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
}
@media screen and (max-width:600px){
    footer .logo {
        width: 100px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 60px;
    }
}
@media screen and (max-width:600px){
    .logo img {
        max-width: 80px;
    }
}
#icon {
    width: 24px;
    height: 24px;
}
#fineprint {
    font-size: small;
    padding-top: 16px;
}
footer .nav {
    display: inline;
    padding-right: 64px;
}
@media screen and (max-width:600px){
    footer .nav {
        display: block;
        padding-left: 8px;
        padding-right: 0;
        padding-top: 60px;
        line-height: 6px;
        
    }
}
footer a {
    color: #542f65;
    font-size: 20px;
}
@media screen and (max-width:600px){
    footer a {
        font-size: 14px;
        font-weight: 600;
        padding: 0px;
}
}

